In [3]:
import urllib, json
import pandas as pd
df = pd.read_json("https://bechdeltest.com/api/v1/getAllMovies")

In [4]:
df.head()

   year                       title    id    imdbid  rating
0  1874            Passage de Venus  9602   3155794       0
1  1877           La Rosace Magique  9804  14495706       0
2  1878  Sallie Gardner at a Gallop  9603   2221420       0
3  1878           Le singe musicien  9806  12592084       0
4  1881     Athlete Swinging a Pick  9816   7816420       0

In [6]:
df.count()

year      10289
title     10289
id        10289
imdbid    10289
rating    10289
dtype: int64

In [9]:
df.to_csv('bechdeltestscore.csv')
from IPython.display import FileLink
FileLink('bechdeltestscore.csv')

C:\Users\ishaq hussain\bechdeltestscore.csv

In [28]:
FileLink('benchdeltest.csv')

C:\Users\ishaq hussain\benchdeltest.csv

In [2]:
!pip install gender-guesser

Collecting gender-guesser
  Downloading gender_guesser-0.4.0-py2.py3-none-any.whl.metadata (3.0 kB)
Downloading gender_guesser-0.4.0-py2.py3-none-any.whl (379 kB)
   ---------------------------------------- 0.0/379.3 kB ? eta -:--:--
   -- ------------------------------------ 20.5/379.3 kB 330.3 kB/s eta 0:00:02
   ---- ---------------------------------- 41.0/379.3 kB 495.5 kB/s eta 0:00:01
   ------------ ------------------------- 122.9/379.3 kB 901.1 kB/s eta 0:00:01
   ------------------- -------------------- 184.3/379.3 kB 1.1 MB/s eta 0:00:01
   ------------------------------ --------- 286.7/379.3 kB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 379.3/379.3 kB 1.5 MB/s eta 0:00:00
Installing collected packages: gender-guesser
Successfully installed gender-guesser-0.4.0

In [4]:
import pandas as pd
import gender_guesser.detector as gen
dfLatest = pd.read_csv('C:/Users/ishaq hussain/Downloads/gender.csv',encoding = "latin")

In [55]:
dfLatest.head()

,bechdel score,movie,year,budget,gross,director
0,2,Top Gun,1986,15000000,179800601,Tony Scott
1,3,Aliens,1986,18500000,85160248,James Cameron
2,3,Flight of the Navigator,1986,9000000,18564613,Randal Kleiser
3,0,Platoon,1986,6000000,138530565,Oliver Stone
4,3,Labyrinth,1986,25000000,12729917,Jim Henson

In [5]:
d = gen.Detector()
genders = []
firstNames = dfLatest['director'].str.split().str.get(0)
for i in firstNames[0:len(firstNames)]:
    if d.get_gender(i) == 'male':
        genders.append('male')
    elif d.get_gender(i) == 'female':
        genders.append('female')
    else:
        genders.append('unknown')
dfLatest['gender'] = genders
dfLatest.head()

,bechdel score,movie,year,budget,gross,director,gender
0,2,Top Gun,1986,15000000,179800601,Tony Scott,male
1,3,Aliens,1986,18500000,85160248,James Cameron,male
2,3,Flight of the Navigator,1986,9000000,18564613,Randal Kleiser,male
3,0,Platoon,1986,6000000,138530565,Oliver Stone,male
4,3,Labyrinth,1986,25000000,12729917,Jim Henson,male

In [ ]:
dfLatest.to_csv('genderfound.csv')
from IPython.display import FileLink
FileLink('genderfound.csv')